{% if cv.basics %}
<div id="basics" class="flex flex--col hline">
    {% if options.show_portrait and cv.basics.image %}
    <div id="portrait" class="">
        <img class="" src="{{ cv.basics.image }}" alt="so handsome and/or pretty">
        <svg class="" viewBox="0 0 100 100">
            <polyline points="35,13 50,-2 65,13"></polyline>
            <polyline points="35,87 50,102 65,87"></polyline>
            <polyline points="13,35 -2,50 13,65"></polyline>
            <polyline points="87,35 102,50 87,65"></polyline>
        </svg>
    </div>
    {% endif %}
    <div id="contact">
        <div class="flex flex--between">
        <h1>{{ cv.basics.name }}</h1><h1>{{ cv.basics.label }}</h1>
        </div>
        <div class="flex flex--between" >
            <div>
                {% for key, value in cv.basics.location.items() %}
                <div>{{value}}</div>
                {% endfor %}
            </div>
            <div class="align-right">
                {% for key, value in cv.basics.contact.items() %}
                <div>{{value}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}