{% if cv.profiles %}
<div id="profiles" class="flex hline flex--around">
    {% for profiles in cv.profiles %}
    <div class="flex">
        <i class="{{ profiles.fa_icon_class }}"></i>
        {# <img src="{{ profiles.favicon }}"> #}
        <p href="{{ profiles.url }}">{{ profiles.username }} </p>
    </div>
    {% endfor %}
</div>
{% endif %}